<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<div>
    <form th:method="patch" th:action="@{/admin/user/{id}(id=${user.getId()})}" th:object="${user}">

        <label for="firstName">First Name</label>
        <input name="firstName" th:field="*{firstName}" id="firstName">

        <br>

        <label for="lastName">Last Name</label>
        <input name="lastName" th:field="*{lastName}" id="lastName">

        <br>

        <label for="age">Age</label>
        <input name="lastName" th:field="*{age}" id="age">

        <br>

        <label for="email">Email</label>
        <input name="email" th:field="*{username}" id="email">

        <br>

        <label for="password">Password</label>
        <input name="password" th:field="*{password}" id="password">

        <br>

        <label for="roles">Roles</label>
        <select id="roles" th:field="*{roleSet}" multiple>
            <option th:each="role:${roles}" th:value="${{role.id}}" th:text="${role.roleName}"/>
        </select>
        <br/>

        <input type="submit" value="Update user">


    </form>
</div>
    <form th:method="post" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</body>
</html>