<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${user.getFirstName()}"></p>
<p th:text="${user.getLastName()}"></p>
<p th:text="${user.getAge()}"></p>
<p th:text="${user.getUsername()}"></p>

<h3>Roles:</h3>
<ul th:each="role : ${roles}">
    <li th:text="${role.getRoleName()}"></li>
</ul>

<form th:method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>